<!-- <div class="footer-container bg-primary mt-5">
  <div class="row">
    <div class="col-3">
      <h3>3ayez Doctor</h3>
      <ul>
        <li><a href="#">Careers</a></li>
        <li>
          <a href="#">Partners</a>
        </li>
        <li>
          <a href="#">Book a doctor</a>
        </li>
        <li>
          <a href="#">Login as Doctor</a>
        </li>
      </ul>
      <div class="social">
        <ul>
          <li>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-2">
      <h3>Services</h3>
      <ul>
        <li><a href="#">Terms of service</a></li>
        <li>
          <a href="#">Partners</a>
        </li>
        <li>
          <a href="#">Privacy Terms</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col-7">
      <h3>Specializations of doctors</h3>
      <div class="row">
        <div class="col-2">
          <ul>
            <li><a href="#">Terms of service</a></li>
            <li>
              <a href="#">Partners</a>
            </li>
            <li>
              <a href="#">Privacy Terms</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-2">
          <ul>
            <li><a href="#">Terms of service</a></li>
            <li>
              <a href="#">Partners</a>
            </li>
            <li>
              <a href="#">Privacy Terms</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-2">
          <ul>
            <li><a href="#">Terms of service</a></li>
            <li>
              <a href="#">Partners</a>
            </li>
            <li>
              <a href="#">Privacy Terms</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-2">
          <ul>
            <li><a href="#">Terms of service</a></li>
            <li>
              <a href="#">Partners</a>
            </li>
            <li>
              <a href="#">Privacy Terms</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-2">
          <ul>
            <li><a href="#">Terms of service</a></li>
            <li>
              <a href="#">Partners</a>
            </li>
            <li>
              <a href="#">Privacy Terms</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-2">
          <ul>
            <li><a href="#">Terms of service</a></li>
            <li>
              <a href="#">Partners</a>
            </li>
            <li>
              <a href="#">Privacy Terms</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->








<div class="footer-container bg-primary mt-5">
  <div class="container">
    <div class="row">
      <div class="col-6 col-6 col-md-2 col-lg-3">
        <div class="row"></div>
        <h3>3ayez Doctor</h3>
        <ul>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Book a doctor</a></li>
          <li><a href="#">Login as Doctor</a></li>
        </ul>
        <div class="social">
          <ul>
            <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-6 col-md-2 col-lg-2">
        <h3>Services</h3>
        <ul>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Privacy Terms</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-8 col-lg-7">
        <h3>Specializations of doctors</h3>
        <div class="row">
          <div class="col-6 col-md-2">
            <ul>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Privacy Terms</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-2">
            <ul>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Privacy Terms</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-2">
            <ul>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Privacy Terms</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-2">
            <ul>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Privacy Terms</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-2">
            <ul>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Privacy Terms</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-2">
            <ul>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Privacy Terms</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
