<div class="section-4-container container mt-5">
  <p>Book Online Doctor with 3ayz Doctor</p>
  <div class="row">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="card col-4 w-100">
          <img
            src="../../assets/doctors.jpg"
            class="card-img-top"
            alt="Doctors"
          />
          <div class="card-body">
            <h5 class="card-title">Book a doctor</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
              soluta
            </p>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="card col-4 w-100">
          <img
            src="../../assets/sp-general-doctor@2x.jpg"
            class="card-img-top"
            alt="General Doctor"
          />
          <div class="card-body">
            <h5 class="card-title">Medical Center</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
              soluta
            </p>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="card col-4 w-100">
          <img
            src="../../assets/specialOffer.png"
            class="card-img-top"
            alt="Special Offer"
          />
          <div class="card-body">
            <h5 class="card-title">Medical Services</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
              soluta
            </p>
          </div>
        </div></ng-template>
      >
    </owl-carousel-o>
  </div>
</div>
