<div class="section-5-container container mt-5">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../../assets/dentest.jpg" class="d-block w-100" alt="We create your smile" />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/derma e.jpg" class="d-block w-100" alt="Your health is your wealth" />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/gyna e.jpg" class="d-block w-100" alt="We take care..." />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/ped e.jpg" class="d-block w-100" alt="We care about your kids" />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
