<!-- <div class="section-9-container container mt-5">
  <p>What our users say about us?</p>
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active bg-secondary"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="3"
        aria-label="Slide 4"
        class="bg-secondary"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card p-3 m-auto" style="width: 600px;">
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="user">
            <p class="text-primary">Ahmed Moghazy</p>
            <i class="fa-solid fa-circle-user text-primary"></i>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card p-3 m-auto" style="width: 600px;">
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="user">
            <p class="text-primary">Ahmed Hafez</p>
            <i class="fa-solid fa-circle-user text-primary"></i>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card p-3 m-auto" style="width: 600px;">
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="user">
            <p class="text-primary">Omar Mohamed</p>
            <i class="fa-solid fa-circle-user text-primary"></i>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card p-3 m-auto" style="width: 600px;">
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="user">
            <p class="text-primary">Omar Elkllaf</p>
            <i class="fa-solid fa-circle-user text-primary"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="section-9-container container mt-5">
  <p>What our users say about us?</p>
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active bg-secondary"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
        class="bg-secondary"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="3"
        aria-label="Slide 4"
        class="bg-secondary"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card p-3 m-auto">
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <div class="user">
            <p class="text-primary">Ahmed Moghazy</p>
            <i class="fa-solid fa-circle-user text-primary"></i>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card p-3 m-auto">
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <div class="user">
            <p class="text-primary">Ahmed Hafez</p>
            <i class="fa-solid fa-circle-user text-primary"></i>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card p-3 m-auto">
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <div class="user">
            <p class="text-primary">Omar Mohamed</p>
            <i class="fa-solid fa-circle-user text-primary"></i>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card p-3 m-auto">
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <div class="user">
            <p class="text-primary">Omar Elkllaf</p>
            <i class="fa-solid fa-circle-user text-primary"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel control buttons -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
