<div class="section-7-container container mt-5">
  <p>Find doctors in top specialities</p>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="card" style="width: 18rem">
        <img
          src="../../assets/sp-dentist@2x.jpg"
          class="card-img-top"
          alt="Dentist"
        />
        <div class="card-body">
          <h5 class="card-title">Dentist</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit soluta
          </p>
        </div>
      </div></ng-template
    >
    <ng-template carouselSlide>
      <div class="card" style="width: 18rem">
        <img
          src="../../assets/sp-dietitian@2x.jpg"
          class="card-img-top"
          alt="Diet"
        />
        <div class="card-body">
          <h5 class="card-title">Nutrition</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit soluta
          </p>
        </div>
      </div></ng-template
    >
    <ng-template carouselSlide>
      <div class="card" style="width: 18rem">
        <img
          src="../../assets/sp-physiotherapist@2x.jpg"
          class="card-img-top"
          alt="physiotherapist"
        />
        <div class="card-body">
          <h5 class="card-title">physiotherapist</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit soluta
          </p>
        </div>
      </div></ng-template
    >
    <ng-template carouselSlide>
      <div class="card" style="width: 18rem">
        <img
          src="../../assets/sp-pediatrician@2x.jpg"
          class="card-img-top"
          alt="Obstetrics"
        />
        <div class="card-body">
          <h5 class="card-title">Obstetrics and Gynecology</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit soluta
          </p>
        </div>
      </div></ng-template
    >

    >
  </owl-carousel-o>
</div>
