<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="card" style="width: 18rem">
      <img
        src="../../assets/ImgPhoto.jfif"
        class="card-img-top"
        alt="Dr Aya Image"
      />
      <i class="fas fa-share-alt"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Doctor Aya Foda</h5>
        <p class="card-text text-center">Dental Specialist</p>
        <div class="rating-container d-flex justify-content-center">
          <p>5</p>
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
        </div>
        <p class="text-center">Center <span>Enaya Center</span></p>
        <p class="text-center"><span>100</span> EGP</p>
        <a href="#" class="btn btn-primary d-block w-50 m-auto">Show</a>
      </div>
    </div></ng-template
  >
  <ng-template carouselSlide>
    <div class="card" style="width: 18rem">
      <img
        src="../../assets/ImgPhoto.jfif"
        class="card-img-top"
        alt="Dr Aya Image"
      />
      <i class="fas fa-share-alt"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Doctor Aya Foda</h5>
        <p class="card-text text-center">Dental Specialist</p>
        <div class="rating-container d-flex justify-content-center">
          <p>5</p>
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
        </div>
        <p class="text-center">Center <span>Enaya Center</span></p>
        <p class="text-center"><span>100</span> EGP</p>
        <a href="#" class="btn btn-primary d-block w-50 m-auto">Show</a>
      </div>
    </div></ng-template
  >
  <ng-template carouselSlide>
    <div class="card" style="width: 18rem">
      <img
        src="../../assets/ImgPhoto.jfif"
        class="card-img-top"
        alt="Dr Aya Image"
      />
      <i class="fas fa-share-alt"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Doctor Aya Foda</h5>
        <p class="card-text text-center">Dental Specialist</p>
        <div class="rating-container d-flex justify-content-center">
          <p>5</p>
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
        </div>
        <p class="text-center">Center <span>Enaya Center</span></p>
        <p class="text-center"><span>100</span> EGP</p>
        <a href="#" class="btn btn-primary d-block w-50 m-auto">Show</a>
      </div>
    </div></ng-template
  >
  <ng-template carouselSlide>
    <div class="card" style="width: 18rem">
      <img
        src="../../assets/ImgPhoto.jfif"
        class="card-img-top"
        alt="Dr Aya Image"
      />
      <i class="fas fa-share-alt"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Doctor Aya Foda</h5>
        <p class="card-text text-center">Dental Specialist</p>
        <div class="rating-container d-flex justify-content-center">
          <p>5</p>
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
        </div>
        <p class="text-center">Center <span>Enaya Center</span></p>
        <p class="text-center"><span>100</span> EGP</p>
        <a href="#" class="btn btn-primary d-block w-50 m-auto">Show</a>
      </div>
    </div></ng-template
  >
  <ng-template carouselSlide>
    <div class="card" style="width: 18rem">
      <img
        src="../../assets/ImgPhoto.jfif"
        class="card-img-top"
        alt="Dr Aya Image"
      />
      <i class="fas fa-share-alt"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Doctor Aya Foda</h5>
        <p class="card-text text-center">Dental Specialist</p>
        <div class="rating-container d-flex justify-content-center">
          <p>5</p>
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
        </div>
        <p class="text-center">Center <span>Enaya Center</span></p>
        <p class="text-center"><span>100</span> EGP</p>
        <a href="#" class="btn btn-primary d-block w-50 m-auto">Show</a>
      </div>
    </div></ng-template
  >
  <ng-template carouselSlide>
    <div class="card" style="width: 18rem">
      <img
        src="../../assets/ImgPhoto.jfif"
        class="card-img-top"
        alt="Dr Aya Image"
      />
      <i class="fas fa-share-alt"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Doctor Aya Foda</h5>
        <p class="card-text text-center">Dental Specialist</p>
        <div class="rating-container d-flex justify-content-center">
          <p>5</p>
          <div class="rating">
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
            <i class="fa-solid fa-star text-primary"></i>
          </div>
        </div>
        <p class="text-center">Center <span>Enaya Center</span></p>
        <p class="text-center"><span>100</span> EGP</p>
        <a href="#" class="btn btn-primary d-block w-50 m-auto">Show</a>
      </div>
    </div></ng-template
  >
</owl-carousel-o>
