owl-carousel-o .card {
  position: relative;
}
owl-carousel-o i.fa-share-alt {
  position: absolute;
  top: 10px;
  right: 10px;
}
owl-carousel-o img {
  height: 200px;
}

@media(max-width: 400px) {
  .card {
    width: 100% !important;
  }
}
