<div class="section-8-container container mt-5">
  <p>3 Steps to Better Health with 3ayezDoctor.com</p>
  <p>Do this basic things and have a healthy life</p>
  <div class="row">
    <div class="col-4">
      <a href=""><img src="../../assets/pic 10.png" alt="image-1" /></a>
    </div>
    <div class="col-4">
      <a href=""><img src="../../assets/pic 11.png" alt="image-2" /></a>
    </div>
    <div class="col-4">
      <a href=""><img src="../../assets/pic 12.png" alt="image-3" /></a>
    </div>
  </div>
</div>
